<div class="about-page">
  <h1>
    About Us
  </h1>
  <p>
    Hello!, my name is Luis Meza, I am currently working on a web development bootcamp with CareerFoundry working on learning Rails. Learn more about me at <a href="http://luismeza.io" target="_blank" id="website-link">my website</a>
  </p>
  <p>
    Check back often for more updates or feel free to reach out to us.
  </p>
</div>
