<div class="about-page">
  <h1>
    About Us
  </h1>
  <p>
    Hello <%= current_user.first_name %>!, thank you for checking out our site we are a local Austin native company selling various type of bikes.
  </p>
  <p>
    Check back often for more updates or feel free to reach out to us.
  </p>
</div>
