<div class="about-page">
	<h1>
		About Us
	</h1>
	<p>
		Hello!, my name is Luis Meza, I am currently working on a web development bootcamp with CareerFoundry. I am currently working on learning Rails to hopefully become a Rails developer.
	</p>
	<p>
		Check back often for more updates or feel free to reach out to us.
	</p>
</div>
