<h1>About Us</h1>
<p>Hello!, my name is Luis Meza, I am currently working on a web development bootcamp with CareerFoundry. I am currently working on learning Ruby to hopefully become a Ruby developer in Seattle Washington.</p>
<p> Check back often for more updates or feel free to reach out to us </p>
