<h1 class="contact-h1">Contact Us</h1>

<div class="contact-list">
	<ul>
		<li>Ph. 512-618-8966</li>
		<li>Email: <a href="mailto:luismeza01@gmail.com">luismeza01@gmail.com</a></li>
		<li>Address: Northwest Austin Texas</li>
	</ul>
</div>
<div class="info">
	<p>This is the first web app I am developing using Ruby. Keep in touch for more updates to follow.</p>
</div>


