<div class="panel panel-default">	
	<div class="panel-body">
		<h1>
			Thank you!!
		</h1> 
		<p id="thank-you-text">
			Expect to hear back within 24 hours. In the meantime, enjoy these awesome ducks. 
		</p>
		<p> 
			<%= image_tag("duck.jpg", class: "img-responsive") %>
		</p>
		<p id="thank-you-text">
			Yes, these are real ducks.
		</p>
	</div>
</div>