<h1 id="payment-success">From everyone at Austin Bikes</h1>
<h2 id="payment-success">Thank you for your purchase!</h2>

<div id="button-success">
  <button><%= link_to 'Buy another?', products_url, class: "thanks-purchase" %></button>
</div>
