// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	width: 90%;
	margin: auto;
	color: black;
}

.navbar {
	position: fixed;
	z-index: 1;
	background-color: #B2B2B2;
}
.navbar ul {
	float:right;
}

#navbar a {
	color: black;
}

h1 span {
	color: #66B2B2;
}

h1 {
	padding-top: 70px;
}

.contact-h1 {
	padding-bottom: 30px;
}

.contact-list li {
	list-style-type: none;
	padding-bottom: 10px;
}

.contact-list ul {
	padding-left: 5px;
}

.divider {
	border: 1px solid;
}

.product-columns {
	height: 600px;
}

footer {
	padding: 20px 0 50px 0;	
}

.name {
	padding-top: 0;
	padding-bottom: 20px;
}

.carousel-indicators {
	bottom: 0;
} 

#circles {
	background-color: black;
}

.landing {
	text-align: center;
}

#landing-page {
	padding: 0;
	width: 100%;
}

.search {
  margin-bottom: -35px;
  padding-top: 10px;
}


.login-field input {
    padding: 10px;
    margin-bottom: -10px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remember-me label {
  display: inline;
}

.button-login, .remember-me, .signup-render {
  text-align: center;
}

#alert, #notice {
  margin-top: 100px;
  text-align: center;
}


.glyph {
	display: inline;
	padding: 1em;
}

.g-2 {
	margin-left: -8px;
}

.g-3 {
	margin-left: -6px;
}


.info p {
	text-align: center;
}

.contact-list, .parent-newuser, .editpage-parent, .parent-login{
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	justify-content: space-around;
	flex-wrap: wrap; 
}

.field-new {
	margin: 5px 0;
}

.actions-new {
  margin-top: 10px;
}

.panel-default {
	margin-top: 100px;
}

#thank-you-text {
	text-align: center;
}

#newpage-h2 {
	text-align: center;
	padding-top: 70px;
}

.parent-newuser {
	align-items: center;
}

.newpage input {
	border-radius: 5px;
}

#cancel-button-edit {
	margin: 10px 0 10px 0;
}

#cancel-statement {
	margin-top: 20px;
}

#login-h2 {
	text-align: center;
	padding-top: 70px;
}

#forgotpassword {
	margin-top: 70px;
	text-align: center;
}

#productshow {
	margin-top: 70px;
	text-align: center;
}

.parent-password {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	justify-content: center;
	flex-wrap: wrap; 
	text-align: center;
}

.password input {
	padding: 10px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.editpage {
	text-align: center;
}

#products-h1 {
	padding-top: 70px;
}
.landing {
	padding: 70px 0 20px 0;
}

.landing-name {
	text-align: center;
}

.overall-product-show {
	border: 1px solid black;
	border-radius: 15px;
	margin: auto;
	text-align: center;
}

.links-product-show {
	text-align: center;
}

@media (max-width: 780px) {
	form {
		padding: 5px 0 0 10px;
	}
	input {
	border: 1px solid black;
	}
textarea {
	border: 1px solid black;
	}
	.glyph {
		padding: .5em;
	}
}

@media (max-width: 480px){
.navbar {
	padding: 0;
	}
.carousel-indicators {
	bottom: -10px;
	}
.landing {
	font-size: 1.4em;
	}
}
